extends layout

block content
  .row
  div.about
    h3 StandApp offers a "Stand Up" like world online.  
    h3 Find, share and interact with Helps, Interestings and Events.
    h4 StandApp was built during our g18 group project week (Feb 1- Feb 5).
    h4.about The StandApp build out and design team
    ul 
      li.name Rachel Parri
      //- li.link
      //-   a(href="/auth/linkedin")= profile.displayName
      //- li.link 
      //-   a(href="/auth/linkedin")= linkedin
    br
    ul
      li.name Mike Wickwar
        //- li.link github 
        //- li.link linkedin
    br
    ul
      li.name Sean Brage
        //- li.link github 
        //- li.link linkedin
    br
    ul
      li.name Thomas Pasque
        //- li.link github 
        //- li.link linkedin
      //- h6 a(href="#")= github account
      //- h6 a(href="#")= linkedin account
      //- https://www.linkedin.com/in/thomas-pasque-5b400647 
    
