extends layout

block content
  .row
  div.about
    h3 StandApp offers a "Stand Up" like world online.  
    h3 Find, share and interact with Helps, Interestings and Events.
    h4 StandApp was built during our g18 group project week (Feb 1- Feb 5).
    h4.about The StandApp build out and design team
    ul 
      li.name 
        a(href="https://github.com/Erachelparri") Rachel Parri
    br
    ul
      li.name
        a(href="https://github.com/MikeWickwar") Mike Wickwar
    br
    ul
      li.name 
        a(href="https://github.com/BargeRuns") Sean Brage
    br
    ul
      li.name 
        a(href="https://github.com/tpasque") Thomas Pasque
      //- h6 a(href="#")= github account
      //- h6 a(href="#")= linkedin account
      //- https://www.linkedin.com/in/thomas-pasque-5b400647 
    
