extends layout

block content
  .row
    h4 Admin is: 
      a(href="/dashboard/admin")= profile.displayName
      br
  .col-md-4.col-sm-6.col-xs-12
   +panel("Helps", "active")
     .post-container
       p Number of Help Posts: #{helpsNumber}
  .col-md-4.col-sm-6.col-xs-12
   +panel("Interestings", "active")
     .post-container
       p Number of Interesting Posts: #{interestingsNumber}
  .col-md-4.col-sm-6.col-xs-12
   +panel("Users", "active")
     .post-container
       p Number of Users: #{userNumber}
  
