extends layout

block content
  h1= title
  p Welcome to #{title} 
  a(href="/users") Users
  div
  a(href="/posts/new") Add New Post
  div.helps
    ul
      each post, i in users
        if post.cat_name === "helps" 
          li= "The body is: " +post.body+ " and the category is: " + post.cat_name + ". The author of this post is:  " + post.first_name + " " + post.last_name 
  div.interestings
    ul
      each post, i in users
        if post.cat_name === "interestings" 
          li= "The body is: " +post.body+ " and the category is: " + post.cat_name + ". The author of this post is:  " + post.first_name + " " + post.last_name 

  //- div.helps
  //-   ul
  //-     each post, i in posts
  //-       if post.cat_name === "helps" 
  //-         li= "The body is: " +post.body+ " and the category is: " + post.cat_name 
  //- div.interestings
  //-   ul
  //-     each post, i in posts
  //-       if post.cat_name === "interestings"
  //-         li= "The body is: " +post.body+ " and the category is: " + post.cat_name
