doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    header
      a(href="/dashboard") home
      br
      a(href="/dashboard/about") about
      br
    if profile  
      a(href="/") logout
    else
      a(href="/auth/linkedin") login
    if profile
      h1 Hello, #{profile.displayName}
      
  
