//- extends layout
//- 
//- block content
//-   h1 Welcome to the Login Page for StandApp
//-   form(action="/login", method="POST")
//-     div.form-group
//-       div
//-         label(for="user_name") User Name
//-         br
//-         input.form-control(type="email" id="user_name" placeholder="user name" name="user_name")
//-       div
//-         label(for="password") Password
//-         br
//-         input.form-control(type="password" id="password" placeholder="password" name="password")
//-       div
//-         button.btn.btn-primary(type="submit") Sign in
