body {
 padding: 4vh;
 font-family: 'Lato', sans-serif;
 /*overflow: hidden;*/
 font-weight: 300;
}
::-webkit-scrollbar {
   display: none;
}
a {
 color: black ;
}
ul.nav a:hover {
   color: #FFA04F !important;
   text-decoration: underline;
 }
h5{
 margin: 0;
}
h6{
 margin: 0;
}
p.event_details {
  font-size: 12px;
}
.man{
  /*margin-left: -12vw;*/
  margin-top: 50vh;
  height: 20vh;
  display: inline-block;
}
.navbar-nav{
 float: right;
 background-color: #30959A;
}
.title{
   color: black;
}
.navbar{
 background-color: #30959A;
 border-top:1px solid #30959A;
 border-radius: 5px;
}

.post-style-container{
 display: flex;
 flex-direction: column;
}
.panel-active{
  /*border-color: black;*/
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
  color: black;
  font-weight: 300;
  /*box-shadow: 2px 2px 1px 1px rgba(29, 31, 29, 0.5);*/
}
.panel-heading, .comment-heading{
  background-color: #FF7572;
}
.post-heading {
  background-color: #30959A;
  height: 28px;
}
.comment-heading {
  height: 28px;
}
.post {
  min-height: 142px;
  border: 2px solid #30959A;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.comment {
  margin: 0 auto;
  border: 2px solid #FF7572;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
}
p.post {
  border: 0;
  display: inline-block;
}
/*p.index-post {
  font-size: 12px;
}*/
.post-container{
 height: 70vh;
 overflow: auto;
}
.button-container{
 width: 100%;
 margin-top: 10px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.content-container{
 padding-top: 5px;
 padding-left: 5px;
 height: auto;
 min-height: 80px;
 max-height: 80px;
 overflow: auto;
 display: flex;
 font-size: 15px;
}
.thumbs-container{
 display: flex;
 flex-direction: row;
}
.comments-container{
 display: flex;
 flex-direction: row;
}
.user_name{
 color: green;
}
.profile_pic{
 float: left;
 margin-right: 5px;
 height: 50px;
 width: 50px;
}
.numberOf{
 padding: 5px;
}
.row{
 display: flex;
 justify-content: center;
 /*margin-top: -70vh;*/

}
.input{
 padding: 5vh;
 background-color: grey;
}
.label{
 font-size: 3vh;
}
.actions{
 float: right;
}

.btn-primary {
  margin-right: 5px;
}

.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #3498db;
    border-color: #3498db;
}
.form{
  /*margin-top: -70vh;*/
}
.panel-body {
  padding: 0;
}
.post > .panel-body {
  border: 0;
  padding: 5px;
}
.comment > .panel-body {
  padding: 5px;
}
.errors{
  color: red;
  font-weight: 400;

div.about{
  text-align: center;
}

li.name{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: #30959A;
  list-style-type: none;
}

li.link {
  list-style-type: none;
}

h4.about{
  text-decoration: underline;
}

table.users{
  color: #30959A;
  border-collapse:separate;
  border-spacing:10px 5px;
}

tr.users{
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: center;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover {
    color: #FFA04F;
    text-decoration: underline;
>>>>>>> master
}
