extends ../layout

block content
  div.form
    h1= title
    p Welcome to #{title} 
    table.users 
     thead.users 
       tr.users
         th first name
         th last name 
     tbody 
     for user in users
       tr 
         td: a(href='/users/#{user.id}')= user.first_name
         td: a(href='/users/#{user.id}')= user.last_name
