extends ../layout
include ../mixins

block content

  +nav("StandApp")
     +nav_item( "Home.html" ) Home
     +nav_item( "About.html" ) About
     +nav_item( "Login.html" ) Login
   .row
       .col-md-4.col-sm-6.col-xs-12
         +panel("Helps", "info")
           .post-container
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
       .col-md-4.col-sm-6.col-xs-12
         +panel("Interestings", "info")
           .post-container
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
       .col-md-4.col-sm-6.col-xs-12
         +panel("Events", "info")
           .post-container
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
         //for post in posts sort of situation here
       
