extends ../layout

block content
  h1= title
  p welcome #{title} 
  form(action="/dashboard" method="post")
    div.form-group
      //- label(for="id") ID
      //- div
      //- input.form-control(type="text" id="id" placeholder="id" name="id")
      //- div
      //- label(for="author_id") Author_id
      //- div
      //- input.form-control(type="text" id="author_id" value="#{user.id}" name="author_id")
      //- div
      //- label(for="upvotes") Up Votes
      //- div
      //- input.form-control(type="text" id="upvotes" placeholder="Up Votes" name="upvotes")
      //- div
      //- label(for="downvotes") Down Votes
      //- div
      //- input.form-control(type="text" id="downvotes" placeholder="Down Votes" name="downvotes")
      div
      label(for="body") Body
      div
      input.form-control(type="text" id="body" placeholder="Body" name="body")
      div
      label(for="cat_name") Category Name
      div
      select.form-control(id="cat_name" name="cat_name")
        option helps
        option interestings
      div
      //- label(for="created_at") Created At
      //- div
      //- input.form-control(type="text" id="created_at" placeholder="Created At" name="created_at")
      //- div
      //- label(for="updated_at") Updated At
      //- div
      //- input.form-control(type="text" id="updated_at" placeholder="Updated At" name="updated_at")
      //- div
    button.btn.btn-primary(type="submit") Submit 
