extends ../layout
include ../mixins

//for post in posts sort of situation here when working with db, all panels are just dummy panels
//for right now, should be generated dynamically 
block content

  +nav("Helps, Interestings, or Events")
     +nav_item( "/" ) Home
     +nav_item( "About.html" ) About
     +nav_item( "Login.html" ) Login
   .row
       .col-md-10.col-sm-10.col-xs-12
         +panel("Helps", "info")
           .post-container
             +panel("post", "info")
               .post-style-container
                 .heading_container
                   img.profile_pic(src="http://images.fandango.com/MDCsite/images/featured/201411/Strike%20Force%20Eagle%203%20poster_188x188.jpg")
                   h6.user_name User Name Here
                   h5.topic This is the topic of the post!
                 .content-container
                   p.post Here is the post content, this will most likely be many lines of words and such and sor forth, maybe we can even make this part scroll as well.
                 .button-container   
                   .comments-container
                     h5.numberOf 25
                     a.i(href='/login' class='fa fa-comment-o fa-2x')
                   .thumbs-container
                     a.i(href='#' class='fa fa-thumbs-o-up fa-2x')
                     h5.numberOf 13
                     a.i(href='#' class='fa fa-thumbs-o-down fa-2x')
                     h5.numberOf 20
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
             +panel("post", "info")
